/* The grid container */
.grid-container {
    display: grid;
    grid-template-areas:
        'header header header header header header'
        'left left middle middle right right'
        'footer footer footer footer footer footer';
    grid-column-gap: 10px;
    height:100vh;
}

.left,
.middle,
.right {
    padding: 10px;
    text-align:center;
}

/* Style the left column */
.left {
    grid-area: left;
    background-color:$grey1;
}

/* Style the middle column */
.middle {
    grid-area: middle;
    background-color:$grey2;
}

/* Style the right column */
.right {
    grid-area: right;
    background-color:$grey3;
}