@import "~bootstrap/scss/bootstrap";

@import "fonts";
@import "variables";
@import "responsive";
@import "grid";
@import "header";
@import "footer";

* {
  box-sizing: border-box;
}

body {
  background: $white;
  font-family: $font-family-playfair;
  font-size:$body-font-size;
}
